* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

input {
  background: none;
  border: none;
}
